<div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Welcome to Hogwarts School</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="assets/images/logo.jpg" width="120px" alt="logo">
            </div>
        </div>
        <p class="lead mt-2">Here you will find everything that Harry Potter characters refer to, you will have detailed information on students and teachers.</p>
    </div>
</div>