<div class="row">
    <div class="col mt-4 animate__fadeIn">
        <h2>Add a new student</h2>
        <hr>

        <form [formGroup]="studentForm" (ngSubmit)="save()">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" formControlName="name">
                    <span class="form-text text-danger" *ngIf="validField('name')">Minimum 3 letters</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Patronus</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="patronus" formControlName="patronus">
                    <span class="form-text text-danger" *ngIf="validField('patronus')">Minimum 3 letters</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="age" formControlName="age">
                    <span class="form-text text-danger" *ngIf="validField('age')">Minimum 4 numbers</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="male" name="gender" formControlName="gender">
                        <label class="form-check-label" for="inlineCheckbox1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="female" name="gender" formControlName="gender">
                        <label class="form-check-label" for="inlineCheckbox2">Female</label>
                    </div>
                    <span class="form-text text-danger" *ngIf="validField('gender')">Required</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>